.search {
  &__item.no-results {
    padding: @item-padding + 1em;
    line-height: @title-line-height;
    border-bottom: 1px solid @drawer-item-hover;
    color: @drawer-item-inverted;
  }

  &__item.drawer__item-btn {
    padding-left: @item-padding + 1em;
  }

  &__item-foundwords.drawer__item-body {
    padding-top: 0.2em;
    font-size: 0.8em;
  }
}
