<div class="drawer__item">
  <div class="drawer__item-open is-search">

    {{#if title}}
    <div class="drawer__item-title">
      <div class="drawer__item-title-inner">
        {{{title}}}
      </div>
    </div>
    {{/if}}

  </div>
</div>
