<div class="drawer__item">
  <div class="drawer__item-open is-search">
    <div class="drawer__item-title">
      <div class="drawer__item-title-inner h5" tabindex="0" aria-role="region">
        {{{title}}}
      </div>
    </div>
    <div class="drawer__item-description">
      <div class="drawer__item-description-inner">
        {{{a11y_text description}}}
      </div>
    </div>
  </div>
</div>