<div class="drawer-item-open search">
	<div class="drawer-item-title">
		<h5 class="drawer-item-title-inner">{{{title}}}</h5>
	</div>
	<div class="drawer-item-description">
		<div class="drawer-item-description-inner">{{{description}}}</div>
	</div>
    <div class="list-item search">
        <input type="text" placeholder="" class="search-box">
        <a href="#" class="start-search icon icon-search"></a>
    </div>
</div>