<div class="drawer-item">
    <div class="base drawer-item-open search-drawer"> 
        <div class="drawer-item-title">
            <div class="drawer-item-title-inner h5" tabindex="0" aria-role="region">{{{title}}}</div>
        </div>
        <div class="drawer-item-description">
            <div class="drawer-item-description-inner">{{{a11y_text description}}}</div>
        </div>
    </div>
</div>