<div class="search__textbox-container">
  <label for="search__textbox" class="search__textbox-label">{{description}}</label>
  <input id="search__textbox" class="search__textbox js-search-textbox-change" type="text" placeholder="{{placeholder}}">
</div>
